<div class="verdict-form-page">
  <h2 class="page-title">Unos podataka o slučaju</h2>

  <!-- Metapodaci -->
  <div class="form-wrapper-left">
     <div class="form-section">
        <h3>Osnovni podaci:</h3>
        <label></label>
        <label>Naziv predmeta:*</label>
        <input [(ngModel)]="metadata.caseName" name="caseName"  pattern="^G \d{1,3}-\d{1,4}$" #caseName="ngModel" placeholder="G 123-1234">

        <label>Datum:*</label>
        <input type="date" [(ngModel)]="metadata.date" name="date" [max]="today" required>

        <label>Sud:*</label>
        <input [(ngModel)]="metadata.court" name="court"  required>

        <label>Sudija:*</label>
        <input [(ngModel)]="metadata.judge" name="judge" required>

        <label>Zapisničar:*</label>
        <input [(ngModel)]="metadata.clerk" name="clerk" required>

        <label>Optuženi:*</label>
        <input [(ngModel)]="metadata.defendant" name="defendant" required>

        <label>Oštećeni:*</label>
        <input [(ngModel)]="metadata.injuredParty" name="injuredParty" required>

        <label>Tužilac:</label>
        <input [(ngModel)]="metadata.prosecutorAttorney" name="prosecutorAttorney" >

        <label>Branilac:</label>
        <input [(ngModel)]="metadata.defenseAttorney" name="defenseAttorney" >

        <label>Pravni zastupnik:</label>
        <input [(ngModel)]="metadata.legalRepresentative" name="legalRepresentative">

        <label>Vještak:</label>
        <input [(ngModel)]="metadata.expert" name="expert">

        <label>Učesnici:</label>
        <input [(ngModel)]="metadata.participants" name="participants">

        <label>Organizacije:</label>
        <input [(ngModel)]="metadata.organizations" name="organizations">

     </div>
  </div>
 
  

  <!-- Atributi -->
  <div class="form-wrapper-right">
    <div class="form-section">
        <h3>Pravne činjenice:</h3>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.acknowledged"> Priznao
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.convicted"> Osuđivan
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.maintenance"> Izdržavanje članova porodice
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.repentance"> Kajanje
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.previousFamilyIssues"> Porodični problemi
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.correctBehavior"> Korektno držanje
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.injuredCriminalProsecution"> Oštećeni goni krivično
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.propertyClaim"> Imovinsko-pravni zahtjev
        </label>

        <label>
        <input type="checkbox" [(ngModel)]="attributes.intentional"> Sa umišljajem
        </label>

        <label>Materijalno stanje:</label>
        <select id="financialStatus" [(ngModel)]="attributes.financialStatus" class="form-select">
            <option value="Dobro">Dobro</option>
            <option value="Srednje">Srednje</option>
            <option value="Lose">Lose</option>
        </select>

        <label>Tip povrede:</label>
        <select id="injuryType" [(ngModel)]="attributes.injuryType" class="form-select">
            <option value="Nema">Nema</option>
            <option value="Lake">Lake</option>
            <option value="Srednje">Srednje</option>
            <option value="Teske">Teske</option>
            <option value="Dusevne">Dusevne</option>
        </select>

        <label>Uračunljivost:</label>
        <select id="accountability" [(ngModel)]="attributes.accountability" class="form-select">
            <option value="Uracunljiv">Uracunljiv</option>
            <option value="Smanjena uracunljivost">Smanjena uracunljivost</option>
            <option value="Neuracunljiv">Neuracunljiv</option>
        </select>
    </div>
    
  </div>

  <!-- treca kolona: prijedlozi slicnih presuda i ispod dodati rezultate rasudjivanja po pravilima-->
   <div>
    <div class="form-wrapper-right scrollable-column">
      Slične presude:
      <ul class="verdict-list" *ngIf="similarVerdicts$ | async as verdicts">
        <ng-container>
          <li *ngFor="let verdict of verdicts" class="verdict-item">
            <a href="#" (click)="openVerdict(verdict.caseName); $event.preventDefault()" class="verdict-link">              
              <!--ime presude -->
              <div class="verdict-left">
      <div class="icon-name">
        <span class="verdict-icon">📄</span>
        <span class="verdict-name">{{ verdict.caseName }}</span>
      </div>
      <div class="verdict-similarity">
        {{ verdict.similarity != null ? (verdict.similarity * 100 | number:'1.2-2') : '0.00' }}%
      </div>
    </div>


    <!-- pravne cinjenice -->
    <div class="verdict-right">
      <p class="column-title">Pravne činjenice:</p>
      <div class="verdict-attributes">
        <p *ngIf="verdict.acknowledged !== undefined">Priznao: {{ verdict.acknowledged ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.convicted !== undefined">Osuđivan: {{ verdict.convicted ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.maintenance !== undefined">Izdržavanje: {{ verdict.maintenance ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.repentance !== undefined">Kajanje: {{ verdict.repentance ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.previousFamilyIssues !== undefined">Prethodni porodični problemi: {{ verdict.previousFamilyIssues ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.correctBehavior !== undefined">Korektno držanje: {{ verdict.correctBehavior ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.injuredCriminalProsecution !== undefined">Oštećeni goni krivično: {{ verdict.injuredCriminalProsecution ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.propertyClaim !== undefined">Imovinsko-pravni zahtev: {{ verdict.propertyClaim ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.intentional !== undefined">Sa umišljajem: {{ verdict.intentional ? 'DA' : 'NE' }}</p>
        <p *ngIf="verdict.financialStatus">Materijalno stanje: {{ verdict.financialStatus }}</p>
        <p *ngIf="verdict.injuryType">Tip povrede: {{ verdict.injuryType }}</p>
        <p *ngIf="verdict.accountability">Uračunljivost: {{ verdict.accountability }}</p>
      </div>
      <span class="open-icon">🔗</span>
    </div>
  </a>
  </li>
  </ng-container>
  </ul>
  </div>
</div>

  <!-- Spinner overlay -->
  <div *ngIf="loading" class="spinner-overlay">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
      color="primary">
    </mat-progress-spinner>
    <p class="loading-spinner">Molimo sačekajte, generisanje može potrajati nekoliko minuta...</p>
  </div>

  <div *ngIf="!loading && newVerdictHTML" class="spinner-overlay">
    <button class="fancy-btn" (click)="openCreatedVerdict(newVerdictHTML)">Pogledajte presudu</button>
  </div>

  <div class="actions">
    <button class="fancy-btn" [disabled]="!metadata.caseName ||caseName.invalid || !metadata.court || !metadata.judge || !metadata.date || !metadata.defendant || !metadata.injuredParty || !metadata.clerk" (click)="executeReasoning()">⚖️ IZVRŠAVANJE RASUĐIVANJA ⚖️</button>
  </div>
  <div class="actions">
        <button class="fancy-btn" [disabled]="!allowVerdict" (click)="openVerdictCreateForm()">👨‍⚖️ DONESI PRESUDU 👨‍⚖️</button>
  </div>
</div>
