<div class="verdict-form-page">
  <h2 class="page-title">Unos podataka o slučaju</h2>

  <!-- Metapodaci -->
  <div class="form-wrapper-left">
    <div class="form-section">
      <h3>Osnovni podaci:</h3>
      <label></label>
      <label>Naziv predmeta:*</label>
      <input
        [(ngModel)]="metadata.caseName"
        name="caseName"
        pattern="^G_\d{1,3}-\d{1,4}$"
        #caseName="ngModel"
        placeholder="G_123-1234"
      />

      <label>Datum:*</label>
      <input
        type="date"
        [(ngModel)]="metadata.date"
        name="date"
        [max]="today"
        required
      />

      <label>Sud:*</label>
      <input [(ngModel)]="metadata.court" name="court" required />

      <label>Sudija:*</label>
      <input [(ngModel)]="metadata.judge" name="judge" required />

      <label>Zapisničar:*</label>
      <input [(ngModel)]="metadata.clerk" name="clerk" required />

      <label>Optuženi:*</label>
      <input [(ngModel)]="metadata.defendant" name="defendant" required />

      <label>Oštećeni:*</label>
      <input [(ngModel)]="metadata.injuredParty" name="injuredParty" required />

      <label>Tužilac:</label>
      <input
        [(ngModel)]="metadata.prosecutorAttorney"
        name="prosecutorAttorney"
      />

      <label>Branilac:</label>
      <input [(ngModel)]="metadata.defenseAttorney" name="defenseAttorney" />

      <label>Pravni zastupnik:</label>
      <input
        [(ngModel)]="metadata.legalRepresentative"
        name="legalRepresentative"
      />

      <label>Vještak:</label>
      <input [(ngModel)]="metadata.expert" name="expert" />

      <label>Učesnici:</label>
      <input [(ngModel)]="metadata.participants" name="participants" />

      <label>Organizacije:</label>
      <input [(ngModel)]="metadata.organizations" name="organizations" />
    </div>
  </div>

  <!-- Atributi -->
  <div class="form-wrapper-right">
    <div class="form-section dual-section">
      <!-- LEVA STRANA — Pravne činjenice -->
      <div class="form-subsection">
        <h3>Pravne činjenice:</h3>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.acknowledged" />
          Priznao
        </label>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.convicted" /> Osuđivan
        </label>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.maintenance" />
          Izdržavanje članova porodice
        </label>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.repentance" /> Kajanje
        </label>

        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.previousFamilyIssues"
          />
          Porodični problemi
        </label>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.correctBehavior" />
          Korektno držanje
        </label>

        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.injuredCriminalProsecution"
          />
          Oštećeni goni krivično
        </label>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.propertyClaim" />
          Imovinsko-pravni zahtjev
        </label>

        <label>
          <input type="checkbox" [(ngModel)]="attributes.intentional" /> Sa
          umišljajem
        </label>

        <label>Materijalno stanje:</label>
        <select
          id="financialStatus"
          [(ngModel)]="attributes.financialStatus"
          class="form-select"
        >
          <option value="Dobro">Dobro</option>
          <option value="Srednje">Srednje</option>
          <option value="Lose">Lose</option>
        </select>

        <label>Tip povrede:</label>
        <select
          id="injuryType"
          [(ngModel)]="attributes.injuryType"
          class="form-select"
        >
          <option value="Nema">Nema</option>
          <option value="Lake">Lake</option>
          <option value="Srednje">Srednje</option>
          <option value="Teske">Teske</option>
          <option value="Dusevne">Dusevne</option>
        </select>

        <label>Uračunljivost:</label>
        <select
          id="accountability"
          [(ngModel)]="attributes.accountability"
          class="form-select"
        >
          <option value="Uracunljiv">Uracunljiv</option>
          <option value="Smanjena uracunljivost">Smanjena uracunljivost</option>
          <option value="Neuracunljiv">Neuracunljiv</option>
        </select>

        <!-- Rasudjivanje po pravilima -->
        <!-- Član 221 -->
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.fails_to_provide_support"
          />
          Ne daje izdržavanje
        </label>
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.support_duty_legally_established"
          />
          Obaveza izdržavanja je pravno ustanovljena
        </label>

        <!-- Član 222 -->
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.violates_family_obligations"
          />
          Krši porodične obaveze
        </label>

        <!-- Član 216 -->

        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.used_force_threat_or_greed"
          />
          Upotrebio silu, pretnju ili je vođen pohlepom
        </label>

        <!-- Član 217 -->
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.endangered_child_wellbeing"
          />
          Ugrozio je dobrobit deteta
        </label>

        <!-- Član 220 -->
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.commits_domestic_violence"
          />
          Vrši nasilje u porodici
        </label>
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.used_weapon_or_child_present"
          />
          Upotrebio oružje ili u prisustvu deteta
        </label>
        <label>
          <input
            type="checkbox"
            [(ngModel)]="attributes.caused_severe_injury_or_against_child"
          />
          Prouzrokovao tešku povredu ili protiv deteta
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="attributes.family_member_died" />
          Član porodice je umro
        </label>
      </div>

      <div class="form-subsection">
        <!-- Rasudjivanje po pravilima -->
        <!-- <div class="section-separator"></div> -->
      </div>
    </div>
  </div>
  <div>
    <!-- treca kolona: prijedlozi slicnih presuda i ispod dodati rezultate rasudjivanja po pravilima-->

    <div>
      <div class="form-wrapper-right scrollable-column">
        Slične presude:
        <ul class="verdict-list" *ngIf="similarVerdicts$ | async as verdicts">
          <ng-container>
            <li *ngFor="let verdict of verdicts" class="verdict-item">
              <a
                href="#"
                (click)="openVerdict(verdict.caseName); $event.preventDefault()"
                class="verdict-link"
              >
                <!--ime presude -->
                <div class="verdict-left">
                  <div class="icon-name">
                    <span class="verdict-icon">📄</span>
                    <span class="verdict-name">{{ verdict.caseName }}</span>
                  </div>
                  <div class="verdict-similarity">
                    {{
                      verdict.similarity != null
                        ? (verdict.similarity * 100 | number : "1.2-2")
                        : "0.00"
                    }}%
                  </div>
                </div>

                <!-- pravne cinjenice -->
                <div class="verdict-right">
                  <p class="column-title">Pravne činjenice:</p>
                  <div class="verdict-attributes">
                    <p *ngIf="verdict.acknowledged !== undefined">
                      Priznao: {{ verdict.acknowledged ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.convicted !== undefined">
                      Osuđivan: {{ verdict.convicted ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.maintenance !== undefined">
                      Izdržavanje: {{ verdict.maintenance ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.repentance !== undefined">
                      Kajanje: {{ verdict.repentance ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.previousFamilyIssues !== undefined">
                      Prethodni porodični problemi:
                      {{ verdict.previousFamilyIssues ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.correctBehavior !== undefined">
                      Korektno držanje:
                      {{ verdict.correctBehavior ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.injuredCriminalProsecution !== undefined">
                      Oštećeni goni krivično:
                      {{ verdict.injuredCriminalProsecution ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.propertyClaim !== undefined">
                      Imovinsko-pravni zahtev:
                      {{ verdict.propertyClaim ? "DA" : "NE" }}
                    </p>
                    <p *ngIf="verdict.intentional !== undefined">
                      Sa umišljajem: {{ verdict.intentional ? "DA" : "NE" }}
                    </p>

                    <p *ngIf="verdict.financialStatus">
                      Materijalno stanje: {{ verdict.financialStatus }}
                    </p>
                    <p *ngIf="verdict.injuryType">
                      Tip povrede: {{ verdict.injuryType }}
                    </p>
                    <p *ngIf="verdict.accountability">
                      Uračunljivost: {{ verdict.accountability }}
                    </p>

                    <!-- Rasudjivanje po pravilima -->
                    <p *ngIf="verdict.fails_to_provide_support !== undefined">
                      Ne daje izdržavanje:
                      {{ verdict.fails_to_provide_support ? "DA" : "NE" }}
                    </p>
                               
                    
                    <p *ngIf="verdict.endangered_child_wellbeing !== undefined">
                      Ugrozio je dobrobit deteta:
                      {{ verdict.endangered_child_wellbeing ? "DA" : "NE" }}
                    </p>
                    <p
                      *ngIf="verdict.used_weapon_or_child_present !== undefined"
                    >
                      Upotrebio oružje u prisustvu deteta:
                      {{ verdict.used_weapon_or_child_present ? "DA" : "NE" }}
                    </p>
                    
                    <p *ngIf="verdict.family_member_died !== undefined">
                      Član porodice je umro:
                      {{ verdict.family_member_died ? "DA" : "NE" }}
                    </p>
                  </div>
                  <span class="open-icon">🔗</span>
                </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div>
      <div class="form-wrapper-right scrollable-column">
        <!-- Deo za ispis kazni -->
        <div *ngIf="legalAnalysisResult" class="legal-analysis-section">
          <h4>Rezultat pravne analize:</h4>
          <div class="analysis-content">
            <p><strong>Optuženi:</strong> {{ metadata.defendant }}</p>
            <p>
              <strong>Kazna:</strong>
              {{ legalAnalysisResult.minSentenceDays }} -
              {{ legalAnalysisResult.maxSentenceDays }} dana ({{
                (legalAnalysisResult.minSentenceDays / 365).toFixed(1)
              }}
              -
              {{ (legalAnalysisResult.maxSentenceDays / 365).toFixed(1) }}
              godina)
            </p>

            <div class="proven-violations">
              <p><strong>Dokazani prekršaji:</strong></p>
              <ul>
                <li
                  *ngFor="let violation of legalAnalysisResult.provenViolations"
                >
                  {{ formatViolationName(violation) }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="isAnalyzing" class="loading-state">
          <p>Analiza u toku...</p>
        </div>
        <div *ngIf="analysisError" class="error-state">
          <p>{{ analysisError }}</p>
        </div>
        <!-- pravne cinjenice -->
        <!--div class="verdict-right">
          <p class="column-title">Pravne činjenice:</p>
          <div class="verdict-attributes">
            <p *ngIf="attributes.acknowledged !== undefined">Priznao: {{ attributes.acknowledged ? 'DA' : 'NE' }}</p>
            <p *ngIf="attributes.convicted !== undefined">Osuđivan: {{ attributes.convicted ? 'DA' : 'NE' }}</p>
            <p *ngIf="attributes.maintenance !== undefined">Izdržavanje: {{ attributes.maintenance ? 'DA' : 'NE' }}</p>
            <p *ngIf="attributes.repentance !== undefined">Kajanje: {{ attributes.repentance ? 'DA' : 'NE' }}</p>
            <p *ngIf="attributes.previousFamilyIssues !== undefined">Prethodni porodični problemi: {{
              attributes.previousFamilyIssues ? 'DA' : 'NE' }}</p>
            <p *ngIf="attributes.correctBehavior !== undefined">Korektno držanje: {{ attributes.correctBehavior ? 'DA' :
              'NE'
              }}</p>
            <p *ngIf="attributes.injuredCriminalProsecution !== undefined">Oštećeni goni krivično: {{
              attributes.injuredCriminalProsecution ? 'DA' : 'NE' }}</p>
            <p *ngIf="attributes.propertyClaim !== undefined">Imovinsko-pravni zahtev: {{ attributes.propertyClaim ?
              'DA' :
              'NE' }}</p>
            <p *ngIf="attributes.intentional !== undefined">Sa umišljajem: {{ attributes.intentional ? 'DA' : 'NE' }}
            </p>
            <p *ngIf="attributes.financialStatus">Materijalno stanje: {{ attributes.financialStatus }}</p>
            <p *ngIf="attributes.injuryType">Tip povrede: {{ attributes.injuryType }}</p>
            <p *ngIf="attributes.accountability">Uračunljivost: {{ attributes.accountability }}</p>
          </div>
          <span class="open-icon">🔗</span>
        </div-->
      </div>
    </div>

    <!-- Spinner overlay -->
    <div *ngIf="loading" class="spinner-overlay">
      <mat-progress-spinner mode="indeterminate" diameter="50" color="primary">
      </mat-progress-spinner>
      <p class="loading-spinner">
        Molimo sačekajte, generisanje može potrajati nekoliko minuta...
      </p>
    </div>

    <div *ngIf="!loading && newVerdictHTML" class="spinner-overlay">
      <button class="fancy-btn" (click)="openCreatedVerdict(newVerdictHTML)">
        Pogledajte presudu
      </button>
    </div>
  </div>
  <div class="actions">
    <button
      class="fancy-btn"
      [disabled]="
        !metadata.caseName ||
        caseName.invalid ||
        !metadata.court ||
        !metadata.judge ||
        !metadata.date ||
        !metadata.defendant ||
        !metadata.injuredParty ||
        !metadata.clerk
      "
      (click)="executeReasoning()"
    >
      ⚖️ IZVRŠAVANJE RASUĐIVANJA ⚖️
    </button>

    <button
      class="fancy-btn"
      [disabled]="!allowVerdict"
      (click)="openVerdictCreateForm()"
    >
      👨‍⚖️ DONESI PRESUDU 👨‍⚖️
    </button>
  </div>
</div>
