<app-menu></app-menu>
<router-outlet></router-outlet>
<button class="fixed-button" (click)="openKrivicni()">
  <div *ngIf="lawData" style="padding: 8px 20px;">
    <!-- Naziv zakona -->
    <div style="font-weight: bold; font-size: 16px; text-transform: uppercase;">
      <strong>{{ lawData['Naziv'] }}</strong>
    </div>

    <!-- Ostali detalji -->
    <div style="font-size: 14px; margin-top: 6px;">
      <div>{{ lawData['Izdavac'] }}, {{ lawData['Kreiran'] }}</div>
      <div>Datum posljednje izmjene: {{ lawData['Zadnja_Izmjena'] }}</div>
    </div>
  </div>
</button>
